/*! v0.0.1 | MIT License | https://github.com/brikkr/capsuleUI */
/* CapsuleUI Base */
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #E7EBEE;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 1rem;
}

/* CapsuleUI Grid */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: dense;
}

.grid-layout .grid-item {
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
}

.grid-layout .grid-item.primary {
  background-color: #1DE9B6;
  color: #000021;
}

.grid-layout .grid-item.secondary {
  background-color: #7C4DFF;
  color: #FFFFFF;
}

.grid-layout .grid-item.full {
  width: 100%;
}

.grid-layout .grid-item.col-sm {
  grid-column-end: span 1;
}

.grid-layout .grid-item.col-md {
  grid-column-end: span 2;
}

.grid-layout .grid-item.col-lg {
  grid-column-end: span 3;
}

.grid-layout .grid-item.col-xl {
  grid-column-end: span 4;
}

.grid-layout .grid-item.row-sm {
  grid-row-end: span 1;
}

.grid-layout .grid-item.row-md {
  grid-row-end: span 2;
}

.grid-layout .grid-item.row-lg {
  grid-row-end: span 3;
}

.grid-layout .grid-item.row-xl {
  grid-row-end: span 4;
}

/* CapsuleUI Components */
.logo {
  background-color: #7C4DFF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 100%;
  padding: auto;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper .content {
  width: 100%;
  min-height: 100vh;
}

.wrapper .sidebar {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  background-color: #1DE9B6;
  padding: 1rem;
  min-height: 100vh;
  color: #FFFFFF;
  transition: left 0.5s;
  transition: right 0.5s;
}

.wrapper .sidebar.secondary {
  background-color: #7C4DFF;
}

.wrapper .sidebar.qrtr {
  width: 25%;
}

.wrapper .sidebar.qrtr.left {
  left: -25%;
}

.wrapper .sidebar.qrtr.right {
  right: -25%;
}

.wrapper .sidebar.half.left {
  left: -50%;
}

.wrapper .sidebar.half.right {
  right: -50%;
}

.wrapper .sidebar.full.left {
  left: -100%;
}

.wrapper .sidebar.full.right {
  right: -100%;
}

.wrapper .sidebar.visible.qrtr {
  width: 25%;
}

.wrapper .sidebar.visible.half {
  width: 50%;
}

.wrapper .sidebar.visible.full {
  width: 100%;
}

.wrapper .sidebar.visible.left {
  left: 0;
}

.wrapper .sidebar.visible.right {
  right: 0;
}

@media (max-width: 80em) {
  .wrapper .sidebar.qrtr.left {
    left: -100%;
  }
  .wrapper .sidebar.qrtr.right {
    right: -100%;
  }
  .wrapper .sidebar.half.left {
    left: -100%;
  }
  .wrapper .sidebar.half.right {
    right: -100%;
  }
  .wrapper .sidebar.full.left {
    left: -100%;
  }
  .wrapper .sidebar.full.right {
    right: -100%;
  }
  .wrapper .sidebar.visible.qrtr {
    width: 100%;
  }
  .wrapper .sidebar.visible.half {
    width: 100%;
  }
  .wrapper .sidebar.visible.full {
    width: 100%;
  }
  .wrapper .sidebar.visible.left {
    left: 0;
  }
  .wrapper .sidebar.visible.right {
    right: 0;
  }
}

.btn {
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 12px 24px;
  border: 0;
  color: #FFFFFF;
  line-height: 1.25;
  font-size: 16px;
  text-align: center;
}

.btn:hover {
  transition: all .1s ease;
}

.btn.primary {
  background: #1DE9B6;
}

.btn.primary:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1DE9B6;
}

.btn.primary.inverted {
  background: transparent;
  color: #1DE9B6;
}

.btn.primary.inverted:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1DE9B6;
}

.btn.secondary {
  background: #7C4DFF;
  color: #FFFFFF;
}

.btn.secondary:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #7C4DFF;
}

.btn.secondary.inverted {
  background: transparent;
  color: #7C4DFF;
}

.btn.secondary.inverted:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #7C4DFF;
}

.btn:disabled {
  background: #E7EBEE;
  color: #D3D3D3;
}

.btn.lg {
  line-height: 1.75;
}

.btn.sm {
  line-height: 0.75;
}

.btn.full {
  width: 100%;
}

.btn.loading {
  color: transparent;
}

.btn.loading::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #FFFFFF;
  border-radius: 50%;
  animation: button-loading-spinner 0.5s ease infinite;
}

.btn.loading.inverted {
  color: transparent;
}

.btn.loading.inverted::after {
  border-top-color: #1DE9B6;
}

.btn.loading.inverted.secondary::after {
  border-top-color: #7C4DFF;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-group.inline {
  flex-direction: row;
  align-items: center;
}

.form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  font-size: 16px;
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 3px solid #E7EBEE;
  color: #000021;
  background: #E7EBEE;
  display: block;
}

input::placeholder {
  color: #D3D3D3;
}

input:hover {
  border-color: #D3D3D3;
}

input:focus {
  border-color: #1DE9B6;
  background: #FFFFFF;
}

input:focus.primary {
  border-color: #1DE9B6;
}

input:focus.secondary {
  border-color: #7C4DFF;
}

input:disabled {
  border-color: #E7EBEE;
}

input.full {
  width: 100%;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  color: #FFFFFF;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  padding: 0;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 3px #E7EBEE;
}

input[type=checkbox]:checked {
  background-color: #1DE9B6;
}

input[type=checkbox]:checked.primary {
  background-color: #1DE9B6;
}

input[type=checkbox]:checked.secondary {
  background-color: #7C4DFF;
}

input[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23FFF'/%3E %3C/svg%3E");
}

input[type=checkbox]:disabled {
  background-color: #E7EBEE;
  cursor: not-allowed;
}

input[type=checkbox]:disabled:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23D3D3D3'/%3E %3C/svg%3E");
}

input[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 3px #1DE9B6;
}

input[type=checkbox]::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23{$white}'/%3E %3C/svg%3E");
}

.input {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input.inline {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
}

.switch {
  display: inline-block;
  position: relative;
  width: calc(4rem - 3px);
  height: 2rem;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E7EBEE;
  border-radius: 1rem;
}

.switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: calc(2rem - 6px);
  height: calc(2rem - 6px);
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .5s;
}

.switch input:checked + span {
  background: #1DE9B6;
}

.switch input:checked + span:before {
  left: 2rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-overlay {
  z-index: 9998;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-overlay.primary {
  background-color: #1DE9B6;
}

.modal-overlay.secondary {
  background-color: #7C4DFF;
}

.modal-content {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
  z-index: 9999;
  position: relative;
  width: 75%;
  height: 75%;
  background-color: #FFFFFF;
}

.modal-content .modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: #E7EBEE;
  font-size: 2rem;
  text-decoration: none;
}

.modal-content .modal-close:hover {
  color: #D3D3D3;
}

#modal:not(:target) {
  opacity: 0;
  visibility: hidden;
}

#modal:target {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .modal-content h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=capsule-ui.css.map */