/*! v0.0.1 | MIT License | https://github.com/brikkr/capsuleUI */
/* CapsuleUI Base */
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  background-color: #E7EBEE;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 1rem;
}

/* CapsuleUI Grid */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: dense;
}

.grid-layout .grid-item {
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
}

.grid-layout .grid-item.primary {
  background-color: #1DE9B6;
  color: #000021;
}

.grid-layout .grid-item.secondary {
  background-color: #7C4DFF;
  color: #FFFFFF;
}

.grid-layout .grid-item.full {
  width: 100%;
}

.grid-layout .grid-item.col-sm {
  grid-column-end: span 1;
}

.grid-layout .grid-item.col-md {
  grid-column-end: span 2;
}

.grid-layout .grid-item.col-lg {
  grid-column-end: span 3;
}

.grid-layout .grid-item.col-xl {
  grid-column-end: span 4;
}

.grid-layout .grid-item.row-sm {
  grid-row-end: span 1;
}

.grid-layout .grid-item.row-md {
  grid-row-end: span 2;
}

.grid-layout .grid-item.row-lg {
  grid-row-end: span 3;
}

.grid-layout .grid-item.row-xl {
  grid-row-end: span 4;
}

/* CapsuleUI Components */
.logo {
  background-color: #7C4DFF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 100%;
  padding: auto;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper .content {
  width: 100%;
  min-height: 100vh;
}

.wrapper .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1DE9B6;
  padding: 1rem;
  min-height: 100vh;
  color: #FFFFFF;
  transition: left 0.5s;
  transition: right 0.5s;
}

.wrapper .sidebar.secondary {
  background-color: #7C4DFF;
}

.wrapper .sidebar.qrtr {
  width: 25%;
}

.wrapper .sidebar.qrtr.left {
  left: -25%;
}

.wrapper .sidebar.qrtr.right {
  right: -25%;
}

.wrapper .sidebar.half.left {
  left: -50%;
}

.wrapper .sidebar.half.right {
  right: -50%;
}

.wrapper .sidebar.full.left {
  left: -100%;
}

.wrapper .sidebar.full.right {
  right: -100%;
}

.wrapper .sidebar.visible.qrtr {
  width: 25%;
}

.wrapper .sidebar.visible.half {
  width: 50%;
}

.wrapper .sidebar.visible.full {
  width: 100%;
}

.wrapper .sidebar.visible.left {
  left: 0;
}

.wrapper .sidebar.visible.right {
  right: 0;
}

@media (max-width: 80em) {
  .wrapper .sidebar.qrtr.left {
    left: -100%;
  }
  .wrapper .sidebar.qrtr.right {
    right: -100%;
  }
  .wrapper .sidebar.half.left {
    left: -100%;
  }
  .wrapper .sidebar.half.right {
    right: -100%;
  }
  .wrapper .sidebar.full.left {
    left: -100%;
  }
  .wrapper .sidebar.full.right {
    right: -100%;
  }
  .wrapper .sidebar.visible.qrtr {
    width: 100%;
  }
  .wrapper .sidebar.visible.half {
    width: 100%;
  }
  .wrapper .sidebar.visible.full {
    width: 100%;
  }
  .wrapper .sidebar.visible.left {
    left: 0;
  }
  .wrapper .sidebar.visible.right {
    right: 0;
  }
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  line-height: 1.25;
  font-size: 16px;
}

.btn:hover {
  transition: all .1s ease;
}

.btn.primary {
  background: #1DE9B6;
}

.btn.primary:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1DE9B6;
}

.btn.primary.inversed {
  background: transparent;
  color: #1DE9B6;
}

.btn.primary.inversed:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1DE9B6;
}

.btn.secondary {
  background: #7C4DFF;
  color: #FFFFFF;
}

.btn.secondary:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #7C4DFF;
}

.btn.secondary.inversed {
  background: transparent;
  color: #7C4DFF;
}

.btn.secondary.inversed:hover {
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #7C4DFF;
}

.btn:disabled {
  background: #E7EBEE;
  color: #D3D3D3;
}

.btn.lg {
  line-height: 1.75;
}

.btn.sm {
  line-height: 0.75;
}

.btn.full {
  width: 100%;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-group.inline {
  flex-direction: row;
  align-items: center;
}

.form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  font-size: 16px;
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 3px solid #E7EBEE;
  color: #000021;
  background: #E7EBEE;
  display: block;
}

input::placeholder {
  color: #D3D3D3;
}

input:hover {
  border-color: #D3D3D3;
}

input:focus {
  border-color: #1DE9B6;
  background: #FFFFFF;
}

input:focus.primary {
  border-color: #1DE9B6;
}

input:focus.secondary {
  border-color: #7C4DFF;
}

input:disabled {
  border-color: #E7EBEE;
}

input.full {
  width: 100%;
}

/*# sourceMappingURL=capsule-ui.css.map */