.grid
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
    grid-gap: 1rem
    grid-auto-rows: 160px
    grid-auto-flow: dense
    .grid-item
        padding: 0.5rem
        background-color: $white
        border-radius: 1rem
        row-gap: 0.5rem

        &.primary
            background-color: $primary
            color: $black

        &.secondary
            background-color: $primary
            color: $white
        
        &.full
            width: 100%

        &.col-sm
            grid-column-end: span 1

        &.col-md
            grid-column-end: span 2

        &.col-lg
            grid-column-end: span 3

        &.col-xl
            grid-column-end: span 4
        
        &.row-sm
            grid-row-end: span 1
            max-height: 160px

        &.row-md
            grid-row-end: span 2
            max-height: calc(320px + 1rem)

        &.row-lg
            grid-row-end: span 3

        &.row-xl
            grid-row-end: span 4

        &.inline
            display: flex
            gap: 0.5rem
            flex-direction: row
            align-items: center
            justify-content: space-around 

        &.column
            display: flex
            gap: 0.5rem
            flex-direction: column
        
        &-header
            display: flex;
            flex-direction: row
            justify-content: space-between;
            align-items: flex-start
            color: var(--main-color);
            .title
                display: flex;
                align-items: center
                font-size: 24px;
                line-height: 24px;
                gap: 0.5rem
                font-weight: 700;
                margin: 0;
                .icon
                    background-color: $body-bg
        
        &-action
            width: 100%
            display: flex
            flex-direction: row-reverse


        &.no-padding
            padding: 0

        &-content
            &.inline
                display: flex
                gap: 0.5rem
                flex-direction: row
                align-items: center
                align-content: center
                justify-content: space-around 