// Agent representation
.agent
    &-picture 
        position: relative
        img
            border-radius: 50%
            transition: all .3s
            object-fit: cover
            &.md
                width: 24px
                height: 24px
            &.lg
                width: 36px
                height: 36px  
            &.xl
                width: 48px
                height: 48px
            &.xxl
                width: 62px
                height: 62px
    &-name
        display: flex
        align-items: center
        color: $black
    
    &:hover
        .agent-name
            color: $primary
            
          

    
.agents
    display: flex
    flex-direction: row
    align-items: center
    align-content: flex-start
    flex-wrap: wrap
    max-width: 100%
    position: relative


    &:has(.sm)
        height: 26px
    &:has(.md)
        height: 46px
    &:has(.lg)
        height: 86px


    .agent
        padding-top: 3px
        padding-bottom: 3px

        &:not(:first-child), &.md:not(:first-child)
            margin-left: -16px
        &.sm
            &:not(:first-child)
                margin-left: -8px
        &.lg
            &:not(:first-child)
                margin-left: -32px       
    

.agents-scroll
    width: 100%

    display: flex
    overflow-x: auto
    
    align-items: center
    justify-items: center

    &:hover
        visibility: visible
    
    &::-webkit-scrollbar 
        height: 6px
    
    &::-webkit-scrollbar-track
        background: transparent
    
    &::-webkit-scrollbar-thumb 
        background: $primary
        border-radius: 3px
    
    &::-webkit-scrollbar-thumb:hover
        background: $primary-light
    
    &.horizontal
        flex-direction: row
        align-items: flex-start
        column-gap: 5px
        margin-top: 1rem
        margin-left: 1rem
        margin-right: 1rem
        height: calc( 100% - 1rem )
        width: calc(100% - 2rem)

    &.vertical
        flex-direction: column
        align-items: flex-start
        row-gap: 5px
        height: calc(100% - 2rem)
        width: calc(100% - 1rem)
        overflow-y: auto
        margin-top: 1rem
        margin-bottom: 1rem
        margin-left: 1rem
        padding-top: 0
        &::-webkit-scrollbar 
            width: 6px
    .agent
        padding: 3px


            

