.btn
    display: inline-block
    position: relative
    outline: none
    cursor: pointer
    font-weight: 700
    border-radius: 0.5rem
    padding: 12px 24px
    border: 0
    color: $white
    line-height: 1.25
    font-size: $font-size
    text-align: center


    &:hover
        transition: all .1s ease
    &.primary
        background: $primary
        &:hover
            box-shadow: 0 0 0 0 #fff, 0 0 0 3px $primary
        &.inverted
            background: transparent
            color: $primary
            &:hover
                box-shadow: 0 0 0 0 #fff, 0 0 0 3px $primary
    &.secondary
        background: $secondary
        color: $white
        &:hover
            box-shadow: 0 0 0 0 #fff, 0 0 0 3px $secondary
        &.inverted
            background: transparent
            color: $secondary
            &:hover
                box-shadow: 0 0 0 0 #fff, 0 0 0 3px $secondary
    &:disabled
        background: $light-gray
        color: $gray

    &.lg
        line-height: 1.75

    &.sm
        line-height: 0.75

    &.full
        width: 100%

    &.loading
        color: transparent
        &::after
            content: ""
            position: absolute
            width: 1rem
            height: 1rem
            top: 0
            left: 0
            right: 0
            bottom: 0 
            margin: auto
            border: 3px solid transparent
            border-top-color: $white
            border-radius: 50%
            animation: button-loading-spinner 0.5s ease infinite
        &.inverted
            color: transparent
            &::after
                border-top-color: $primary
            &.secondary
                &::after
                    border-top-color: $secondary


@keyframes button-loading-spinner 
    from 
        transform: rotate(0turn)
    to 
        transform: rotate(1turn)
    
 

    
.btn-group
    display: flex
    gap: 0.5rem
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    &.inline
        flex-direction: row
        align-items: center 
                    
                