.btn
    display: inline-block
    outline: none
    cursor: pointer
    font-weight: 600
    border-radius: 0.5rem
    padding: 12px 24px
    border: 0
    color: $black
    line-height: 1.15
    font-size: 16px
    grid-column-end: span 1
    grid-row-end: span 1
    &:hover
        transition: all .1s ease
    &.primary
        background: $primary
        &:hover
            box-shadow: 0 0 0 0 #fff, 0 0 0 3px $primary
    
    &.secondary
        background: $secondary
        color: $white
        &:hover
            box-shadow: 0 0 0 0 #fff, 0 0 0 3px $secondary
    &:disabled
        background: $light-gray
        color: $gray

.btn-group
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto
    grid-gap: 0.5rem
                    
                