// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Rubik);

// Font variables
$rubik: 'Rubik' 

// Color variables
$body-bg-color: #E5E5E5
$logo-bg-color: #7C4DFF !important

body
    background-color: $body-bg-color
    font-family: $rubik
    
section
    padding: 1rem