.modal
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 9000
    transition: all 0.5s
    &:not(:target) 
        opacity: 0
        visibility: hidden

    &:target 
        opacity: 1
        visibility: visible
    
    &-header
        width: 100%
        position: absolute
        top: .5rem
        margin-right: 1rem
        display: flex;
        flex-direction: row-reverse
        justify-content: space-between;

        .icon
            background-color: $gray !important
            &:hover
                background-color: $primary !important
                &.danger
                    background-color: $red !important
                &.success
                    background-color: $green !important
    
    &-action
        width: 100%
        display: flex
        flex-direction: row-reverse


.modal-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 100%
    width: 100%
    overflow: hidden
    background-color: $primary
    &.success
        background-color: $green
    &.danger
        background-color: $red

.modal-content 
    display: flex
    flex-direction: column
    border-radius: 1rem
    padding: 1rem
    align-items: center
    position: relative
    width: calc(100% - 2rem)
    height: calc(100% - 2rem)
    max-width: 320px
    max-height: 320px
    min-height: 320px
    background-color: $white
    &.lg
        max-width: 640px
        max-height: 320px



.modal-content .modal-close
    position: absolute
    top: 0.5rem
    right: 1rem
    color: $gray
    font-size: 2rem
    text-decoration: none

   

@media screen and (max-width: 480px) 
    .modal-content h1 
        font-size: 2rem
  
